body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #cookieContainer {
    margin-top: 50px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
  }